In [ ]:
#linear regression using least square method
import pandas as pd

In [ ]:
x=[10,12,2,0,8,5]
y=[70,65,96,94,75,82]

In [ ]:
X=pd.DataFrame(x)
Y=pd.DataFrame(y)

In [ ]:
x_sum=X.sum()
print(x_sum)

0    37
dtype: int64

In [ ]:
y_sum=Y.sum()
print(y_sum)

0    482
dtype: int64

In [ ]:
xmean=X.mean()

0    6.166667
dtype: float64

In [ ]:
n=len(X)
n

6

In [ ]:
sum1=0
for i in X[0]:
  sum1+=i**2

In [ ]:
sum1

337

In [ ]:
X

    0
0  10
1  12
2   2
3   0
4   8
5   5

In [ ]:
SSxx=sum1-(x_sum**2)/n
SSxx

0    108.833333
dtype: float64

In [ ]:
sumxy=0
for i in range(n):
  sumxy+=X[0][i]*Y[0][i]
SSxy=sumxy-(x_sum*y_sum)/n
SSxy

0   -290.333333
dtype: float64

In [ ]:
beta1=SSxy/SSxx
beta1

0   -2.667688
dtype: float64

In [ ]:
beta0=Y.mean()-beta1*X.mean()
beta0

0    96.784074
dtype: float64

In [ ]:
print("The regression line equation: y= ",beta0," + ", beta1,"x")

The regression line equation: y=  0    96.784074
dtype: float64  +  0   -2.667688
dtype: float64 x